
@model List<Education>


    @foreach(var item in Model){
    <div class="col-sm-6">
        <h5>@item.Title</h5>
        <hr class="text-primary my-2">
        <p class="text-primary mb-1">@item.Time</p>
        <h6 class="mb-0">@item.School</h6>
    </div>
    }


