﻿<nav class="pcoded-navbar  ">
	<div class="navbar-wrapper  ">
		<div class="navbar-content scroll-div ">
			<div style="background-position: center center;padding :10px">
			<img src="~/bora1.png" width="220px"  />
			</div>
			<ul class="nav pcoded-inner-navbar ">
				<li class="nav-item pcoded-menu-caption" >
					
				</li>
				
				<li class="nav-item">
					
					<a href="~/Admin/Profile/Index" class="nav-link "><span class="pcoded-micon"><i class="fa-solid fa-user"></i></span><span class="pcoded-mtext">Profil Yönetimi</span></a>
				</li>

				<li class="nav-item">
					<a href="~/Admin/Message/Index" class="nav-link "><span class="pcoded-micon"><i class="fa-regular fa-message"></i></span><span class="pcoded-mtext">Mesaj Yönetimi</span></a>
				</li>
				<li class="nav-item">
					<a href="~/Admin/Education/Index" class="nav-link "><span class="pcoded-micon"><i class="fa-solid fa-school"></i></span><span class="pcoded-mtext">Eğitim Yönetimi</span></a>
				</li>
				<li class="nav-item">
					<a href="~/Admin/Contact/Index" class="nav-link "><span class="pcoded-micon"><i class="fa-regular fa-address-card"></i></span><span class="pcoded-mtext">İletişim Yönetimi</span></a>
				</li>
				<li class="nav-item">
					<a href="~/Admin/Experience/Index" class="nav-link "><span class="pcoded-micon"><i class="fa-solid fa-business-time"></i></span><span class="pcoded-mtext">Tecrübe Yönetimi</span></a>
				</li>

				<li class="nav-item">
					<a href="~/Admin/Skill/Index" class="nav-link "><span class="pcoded-micon"><i class="fa-regular fa-calendar-days"></i></span><span class="pcoded-mtext">Yetenek Yönetimi</span></a>
				</li>

				<li class="nav-item">
					<a href="~/Admin/Testimonial/Index" class="nav-link "><span class="pcoded-micon"><i class="fa-solid fa-person"></i></span><span class="pcoded-mtext">Referans Yönetimi</span></a>
				</li>

				<li class="nav-item">
					<a href="~/Admin/Service/Index" class="nav-link "><span class="pcoded-micon"><i class="fa-brands fa-servicestack"></i></span><span class="pcoded-mtext">Servis Yönetimi</span></a>
				</li>


				<li class="nav-item">
					<a href="~/Admin/About/Index" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">Hakkımızda Yönetimi</span></a>
				</li>

				<li class="nav-item pcoded-menu-caption">
					<label>Sayfalar</label>
				</li>
			
				<li class="nav-item"><a href="/Home/Index/" class="nav-link "><span class="pcoded-micon"><i class="fa-solid fa-pager"></i></span><span class="pcoded-mtext">Anasayfa</span></a></li>

			</ul>
		</div>
	</div>
</nav>
