@using MyPortfolioNoSQLAjax.Areas.Admin.Models

@model TestimonialViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";

}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<div class="container">
    <br />
    <h2>Operasyonlar</h2>

    <button type="button" id="btntestimoniallist" class="btn btn-outline-primary"><i class="fa-solid fa-list"></i>Referans Listesi</button>
    <a data-toggle="modal" id="Guncelle" href="#myModal" class="btn btn-outline-secondary "><i class="fa-solid fa-file-import"></i>Referans Ekleme Ekranı</a>
    <a data-toggle="modal" id="Ekle" href="#yourModal" class="btn btn-outline-info "><i class="fa-solid fa-pen-to-square"></i>Referans Güncelleme Ekranı</a>
    <a data-toggle="modal" id="Sil" href="#deleteModal" class="btn btn-outline-dark "><span class="pcoded-micon"><i class="fa-solid fa-trash"></i></span>Referans Silme Ekranı</a>

</div>
<br />


<div id="testimoniallist">
</div>


<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

            </div>
            <div class="modal-body">

                <input type="text" class="form-control" placeholder="Ad Soyad" id="NameSurname1" style="border:1px solid #000" />
                <br />
                <input type="text" class="form-control" placeholder="Başlık" id="Title1" style="border:1px solid #000" />
                <br />
                <input type="text" class="form-control" placeholder="Yorum" id="Comment1" style="border:1px solid #000" />
                <br />
                <input type="text" class="form-control" placeholder="Resim" id="Image1" style="border:1px solid #000" />
                <br />

                <button type="button" id="btnTestimonialCreate" class="btn btn-outline-info">Referans Oluştur</button>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="yourModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

            </div>
            <div class="modal-body">

                <label for="Id2">Referans Id Seç:</label>
                <select id="Id2" name="TestimonialDropdown" class="form-control">
                    <option value="">Select a testimonial</option>
                    @foreach (var item in Model.Items)
                    {
                        <option value="@item.Value">@item.Text</option>
                    }
                </select>
                <br />
                <input type="text" class="form-control" placeholder="Ad Soyad" id="NameSurname2" style="border:1px solid #000" />
                <br />
                <input type="text" class="form-control" placeholder="Başlık" id="Title2" style="border:1px solid #000" />
                <br />
                <input type="text" class="form-control" placeholder="Yorum" id="Comment2" style="border:1px solid #000" />
                <br />
                <input type="text" class="form-control" placeholder="Resim" id="Image2" style="border:1px solid #000" />
                <br />
                <button type="button" id="btnTestimonialUpdate" class="btn btn-outline-info">Referans Güncelle</button>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="modal fade" id="deleteModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

            </div>
            <div class="modal-body">
                <label for="Id3">Referans Id Seç:</label>
                <select id="Id3" name="testimonialDropdown" class="form-control">
                    <option value="">Referans Seç</option>
                    @foreach (var item in Model.Items)
                    {
                        <option value="@item.Value">@item.Text</option>
                    }
                </select>

                <br />


                <button type="button" id="btnTestimonialSil" class="btn btn-outline-info">Referans Sil</button>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->




<script>
    $("#btntestimoniallist").click(function () {
        $.ajax({
            contentType: "application/json",
            dataType: "json",
            type: "Get",
            url: "/Admin/Testimonial/TestimonialList/",
            success: (funk1) => {
                let values = jQuery.parseJSON(funk1);
                console.log(values);
                let tablehtml = `
                                        <table class=table table-bordered>
                                        <tr>
                                        <th>Referans ID</th>
                                        <th>Referans Ad Soyad</th>
                                        <th>Başlık</th>
                                        <th>Yorum</td>
                                        <th>Resim</td>
                                        </tr>`
                $.each(values, (index, value) => {
                    tablehtml += `
                                            <tr>
                                                <td>${value.TestimonialID}</td>
                                                    <td>${value.NameSurname}</td>
                                                        <td>${value.Title}</td>
                                                        <td>${value.Comment}</td>
                                                    <td>${value.ImageUrl}</td>
                                            </tr>`
                });

                tablehtml += `
                                        </table>`;
                $("#testimoniallist").html(tablehtml);
            }
        });
    });


    $("#btnTestimonialCreate").click(() => {
        let testimonialValues = {

            NameSurname: $("#NameSurname1").val(),
            Title: $("#Title1").val(),
            Comment: $("#Comment1").val(),
            ImageUrl: $("#Image1").val()
        };

        $.ajax({
            type: "post",
            url: "/Admin/Testimonial/CreateTestimonial/",
            data: testimonialValues,  //
            success: (response) => {    /* başarılı olursa dönen değeri JSON formatından JS formatına çevirir */
                console.log("gelen data:\n", response);
                let result = jQuery.parseJSON(response);
                alert("Veriler Eklendi");

            },

        });
    });



    $("#btnTestimonialUpdate").click(function () {

        let testvalues = {
            TestimonialID: $("#Id2").val(),
            NameSurname: $("#NameSurname2").val(),
            Title: $("#Title2").val(),
            Comment: $("#Comment2").val(),
            ImageUrl: $("#Image2").val()
        };
        console.log("gelen data /n:",testvalues);

        $.ajax({
            type: "post",
            url: "/Admin/Testimonial/UpdateTestimonial/",
            data: testvalues,
            dataType: 'json',
            success: (funk1) => {

                console.log("gelen data:\n", funk1);
                // Sunucudan gelen veriyi JSON olarak çözümle
                // let result = jQuery.parseJSON(funk1);
                Swal.fire({
                    title: 'Tebrikler!',
                    text: 'Tecrübe başarıyla güncellendi',
                    icon: 'success',
                    showCancelButton: false,
                    confirmButtonText: 'Tamam',
                    cancelButtonText: 'İptal'
                });
            },
        });
    });



    $("#btnTestimonialSil").click(function () {
        let id = $("#Id3").val();
        $.ajax({
            url: "/Admin/Testimonial/DeleteTestimonial/" + id,
            type: "Get",
            contentType: "application/json",
            success: function (funk4) {
                Swal.fire({
                    title: 'Tebrikler!',
                    text: 'Referans başarıyla silindi',
                    icon: 'success',
                    showCancelButton: false,
                    confirmButtonText: 'Tamam',
                    cancelButtonText: 'İptal'
                });
            }
        });

    });


</script>
